html, body {
  margin: 6;
  padding: 6;
}
canvas{
  border: 6px solid black;
  margin-top:80px;
  margin-left: 350px;


  color: white;
	font-size: 40px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}









